.rogo-cooking-new{
  display: flex;
  justify-content: center;
}

.cooking-new-all{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'arial unicode ms';
  font-size: 2.5vh;
}

.make-title{
  display: flex;
  justify-content: center;
}

.cooking-image{
  margin-bottom: 3vh;
}

.ingredients{
  display: flex;
}

.ingredients-line{
  margin-right:3vw;
}

.cooking-title-text{
  width: 100%;
  margin-top: 5px;
  height: 20px;
  padding: 3px 5px 3px;
  border: 1.5px solid grey;
  background: #fff;
  font-size: 16px;
  resize: none;
  border-radius:10px;
}

.cooking-form{
  width: 100%;
  margin-bottom: 5px;
  height: 20px;
  padding: 3px 5px 3px;
  border: 1.5px solid grey;
  font-size: 16px;
  resize: none;
  border-radius:10px;
}

.cooking-text{
  width: 100%;
  margin-bottom: 5px;
  height: 30vh;
  padding: 3px 5px 3px;
  border: 1.5px solid grey;
  font-size: 16px;
  resize: none;
  border-radius:10px;
}

.post-btn-contents{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-btn{
  width: 100%;
  height: 30px;
  background-color: #69f3e8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  border: 1px solid gray;
  border-radius:10px;
  margin-bottom: 4vh;
  margin-top: 1vh;
}
.post-btn:hover {
  background-color: #24e779;
}

