.rogo-cooking-new{
  display: flex;
  justify-content: center;
}

.cooking-new-all{
  display: flex;
  justify-content: center;
  align-items: center;
}


.ingredients{
  display: flex;
}

.ingredients-line{
  margin-right:1vw;
}
