// .cooking-new-all{
//   background-image: image-url('back.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;

// }

.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  font-family: 'arial unicode ms';
}

.search{
  display: flex;
  justify-content: center;
}

.rogo-show{
  margin-bottom: 5vh;
}

.name{
  font-size: 10vh;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  object-fit: contain;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 90%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.back-btn{
  margin-top: 10vh;
  text-decoration: none;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  color: blue;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
.back-btn:hover {
  color: lightseagreen;
}