.header{
  display: flex;
}

.login-out{
  list-style: none;
}

.login-icon{
  width: 4vh;
  height: 4vh;
}

.title-contents{
    height: 40vh;
    background-image: image-url('reizouko.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.title{
  font-size: 6vh;
}

.search{
  width: 65vw;
  height: 5.2vh;
  display: flex;
}


.search-input{
  width: 70%;
  height: 4.5vh;
  padding-left: 5px;
}

.feature{
  margin-top: 10vh;
}

.feature-title{
  font-size: 5vh;
  text-decoration : underline;
  display: flex;
  justify-content: center;
}

.feature-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.list{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image{
  width: 33vh;
  height: 33vh;
}

.list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  width: 33vh;
}


.list-description {
  font-size: 18px;
  margin-top: 20px;
  width: 33vh;
}

.show{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.show-title{
  font-size: 5vh;
  margin-bottom: 2vh;
}