.header{
  display: flex;
}

.login-out{
  list-style: none;
}

.login-icon{
  width: 4vh;
  height: 4vh;
}

.title-contents{
  height: 40vh;
  background-image: image-url('reizouko.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.title{
  font-size: 7vh;
  font-family: 'arial unicode ms'
}

.search{
  width: 65vw;
  height: 5.2vh;
  display: flex;
}


.search-input{
  width: 70%;
  height: 4.5vh;
  padding-left: 5px;
}

.feature{
  margin-top: 10vh;
  font-family: 'arial unicode ms'
}

.feature-title{
  font-size: 6vh;
  text-decoration : underline;
  display: flex;
  justify-content: center;
}

.feature-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.list{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image{
  width: 33vh;
  height: 33vh;
  border-radius: 50%;
}

.list-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  width: 33vh;
}


.list-description {
  font-size: 18px;
  width: 33vh;
  margin-bottom: 10vh;
}

.show{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  font-family: 'arial unicode ms'
}

.show-title{
  font-size: 6vh;
  margin-bottom: 2vh;
}